* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

section {
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
}

th {
  text-align: left;
}

.event-item {
  background-color: #e6e2d3;
}

.event-item:hover {
  background-color: #d4cfc0;
}

table.events-list {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
}

.event-new-button,
.event-save-button,
.event-add-button,
.event-edit-button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.event-new-button:hover,
.event-save-button:hover,
.event-add-button:hover,
.event-edit-button:hover {
  background-color: #005f73;
}

.event-cancel-button,
.event-delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.event-cancel-button:hover,
.event-delete-button:hover {
  background-color: darkred;
}

.event-actions {
  display: flex;
  gap: 10px;
}

.event-item input[type='text'],
.event-item input[type='date'] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.event-item input[type='text']:focus,
.event-item input[type='date']:focus {
  border-color: #4caf50;
  outline: none;
}
.event-item input[type='text']::placeholder,
.event-item input[type='date']::placeholder {
  color: #aaa;
}
